In [1]:
# Importing Dependencies
import pandas as pd
import numpy as np

In [2]:
# Bringing in Uncleaned CSV's
csv1 = "Resources/201809-citibike-tripdata_1.csv"
csv2 = "Resources/201909-citibike-tripdata_1.csv"
bike_trip_2018 = pd.read_csv(csv1)
bike_trip_2019 = pd.read_csv(csv2)

In [3]:
# Viewing the 2018 Data
bike_2018_df = bike_trip_2018
bike_2018_df.head(2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1635,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,132,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0

In [4]:
# Viewing the 2019 Data
bike_2019_df = bike_trip_2019
bike_2019_df.head(2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,327,2019-09-01 00:00:01.9580,2019-09-01 00:05:29.3410,3733,Avenue C & E 18 St,40.730563,-73.973984,504,1 Ave & E 16 St,40.732219,-73.981656,39213,Subscriber,1968,1
1,1145,2019-09-01 00:00:04.1430,2019-09-01 00:19:09.8360,3329,Degraw St & Smith St,40.682915,-73.993182,270,Adelphi St & Myrtle Ave,40.693083,-73.971789,21257,Customer,1969,0

In [5]:
# Deleting Columns
del bike_2018_df['usertype']
del bike_2019_df['usertype']

In [6]:
bike_2018_df.head(5)
bike_2019_df.head(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,birth year,gender
0,327,2019-09-01 00:00:01.9580,2019-09-01 00:05:29.3410,3733,Avenue C & E 18 St,40.730563,-73.973984,504,1 Ave & E 16 St,40.732219,-73.981656,39213,1968,1
1,1145,2019-09-01 00:00:04.1430,2019-09-01 00:19:09.8360,3329,Degraw St & Smith St,40.682915,-73.993182,270,Adelphi St & Myrtle Ave,40.693083,-73.971789,21257,1969,0
2,1293,2019-09-01 00:00:07.3090,2019-09-01 00:21:40.7580,3168,Central Park West & W 85 St,40.784727,-73.969617,423,W 54 St & 9 Ave,40.765849,-73.986905,15242,1969,0
3,1753,2019-09-01 00:00:08.0640,2019-09-01 00:29:21.5040,3299,E 98 St & Park Ave,40.788130,-73.952060,3160,Central Park West & W 76 St,40.778968,-73.973747,38760,1990,1
4,613,2019-09-01 00:00:12.8510,2019-09-01 00:10:26.1850,486,Broadway & W 29 St,40.746201,-73.988557,478,11 Ave & W 41 St,40.760301,-73.998842,32094,1992,1

In [7]:
# Checking Type of Values
bike_2018_df.dtypes
bike_2019_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
birth year                   int64
gender                       int64
dtype: object

In [8]:
# Changing The Type of Values for the Gender Column
bike_2018_df['gender'] = bike_2018_df['gender'].astype(str)
bike_2019_df['gender'] = bike_2019_df['gender'].astype(str)

In [9]:
# Changing the Numeric Gender Values to Actual Gender Values For The 2018 CSV
gender_check_2018 = bike_2018_df['gender']
changed_2018_male = gender_check_2018.replace('1', 'Male')
changed_2018_female = changed_2018_male.replace('2', 'Female')
changed_2018_unknown = changed_2018_female.replace('0', 'Unknown')
bike_2018_df['gender'] = changed_2018_unknown
bike_2018_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,birth year,gender
0,1635,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,1980,Male
1,132,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,1969,Unknown
2,3337,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,1975,Male
3,436,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,1984,Female
4,8457,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,1994,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,747,2018-09-17 13:42:00.4030,2018-09-17 13:54:27.5220,281.0,Grand Army Plaza & Central Park S,40.764397,-73.973715,3153.0,E 71 St & 2 Ave,40.768175,-73.959103,17137,1982,Female
999996,520,2018-09-17 13:42:02.2260,2018-09-17 13:50:42.5140,285.0,Broadway & E 14 St,40.734546,-73.990741,334.0,W 20 St & 7 Ave,40.742388,-73.997262,34159,1946,Male
999997,525,2018-09-17 13:42:01.8770,2018-09-17 13:50:47.2710,238.0,Bank St & Washington St,40.736197,-74.008592,453.0,W 22 St & 8 Ave,40.744751,-73.999154,32341,1947,Male
999998,1337,2018-09-17 13:42:02.1410,2018-09-17 14:04:20.1080,479.0,9 Ave & W 45 St,40.760193,-73.991255,540.0,Lexington Ave & E 29 St,40.743116,-73.982154,33798,1982,Female
999999,559,2018-09-17 13:42:05.9580,2018-09-17 13:51:25.5160,3435.0,Grand St & Elizabeth St,40.718822,-73.995960,401.0,Allen St & Rivington St,40.720196,-73.989978,17000,1979,Male

In [10]:
# Changing the Numeric Gender Values to Actual Gender Values For The 2019 CSV
gender_check_2019 = bike_2019_df['gender']
changed_2019_male = gender_check_2019.replace('1', 'Male')
changed_2019_female = changed_2019_male.replace('2', 'Female')
changed_2019_unknown = changed_2019_female.replace('0', 'Unknown')
bike_2019_df['gender'] = changed_2019_unknown
bike_2019_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,birth year,gender
0,327,2019-09-01 00:00:01.9580,2019-09-01 00:05:29.3410,3733,Avenue C & E 18 St,40.730563,-73.973984,504,1 Ave & E 16 St,40.732219,-73.981656,39213,1968,Male
1,1145,2019-09-01 00:00:04.1430,2019-09-01 00:19:09.8360,3329,Degraw St & Smith St,40.682915,-73.993182,270,Adelphi St & Myrtle Ave,40.693083,-73.971789,21257,1969,Unknown
2,1293,2019-09-01 00:00:07.3090,2019-09-01 00:21:40.7580,3168,Central Park West & W 85 St,40.784727,-73.969617,423,W 54 St & 9 Ave,40.765849,-73.986905,15242,1969,Unknown
3,1753,2019-09-01 00:00:08.0640,2019-09-01 00:29:21.5040,3299,E 98 St & Park Ave,40.788130,-73.952060,3160,Central Park West & W 76 St,40.778968,-73.973747,38760,1990,Male
4,613,2019-09-01 00:00:12.8510,2019-09-01 00:10:26.1850,486,Broadway & W 29 St,40.746201,-73.988557,478,11 Ave & W 41 St,40.760301,-73.998842,32094,1992,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,416,2019-09-14 10:51:55.7090,2019-09-14 10:58:52.2530,383,Greenwich Ave & Charles St,40.735238,-74.000271,497,E 17 St & Broadway,40.737050,-73.990093,34939,1961,Female
999996,439,2019-09-14 10:51:57.7750,2019-09-14 10:59:16.9580,523,W 38 St & 8 Ave,40.754666,-73.991382,450,W 49 St & 8 Ave,40.762272,-73.987882,21590,1986,Female
999997,1180,2019-09-14 10:51:58.4540,2019-09-14 11:11:38.4940,2008,Little West St & 1 Pl,40.705693,-74.016777,327,Vesey Pl & River Terrace,40.715338,-74.016584,28708,1969,Unknown
999998,573,2019-09-14 10:51:59.3460,2019-09-14 11:01:33.2010,2003,1 Ave & E 18 St,40.733812,-73.980544,3708,W 13 St & 5 Ave,40.735445,-73.994310,33580,1991,Unknown
999999,1189,2019-09-14 10:51:59.7110,2019-09-14 11:11:49.4360,3368,5 Ave & 3 St,40.672815,-73.983524,3789,Fulton St & Irving Pl,40.681860,-73.959432,39549,1973,Male

In [11]:
# Calculating Biker's Age's 
current_year = 2019

birth_year_2018 = bike_2018_df['birth year']
age = current_year - birth_year_2018
bike_2018_df['age'] = age

birth_year_2019 = bike_2019_df['birth year']
age = current_year - birth_year_2019
bike_2019_df['age'] = age

In [12]:
# Rearranging the Columns
bike_2018_df_organized = bike_2018_df[["bikeid",
                                       "gender",
                                       "birth year",
                                       "age",
                                       "tripduration",
                                       "start station id",
                                       "start station name",
                                       "start station latitude",
                                       "start station longitude",
                                       "starttime",
                                       "end station id",
                                       "end station name", 
                                       "end station latitude",
                                       "end station longitude",
                                       "stoptime"]]

bike_2019_df_organized = bike_2019_df[["bikeid",
                                       "gender",
                                       "birth year",
                                       "age",
                                       "tripduration",
                                       "start station id",
                                       "start station name",
                                       "start station latitude",
                                       "start station longitude",
                                       "starttime",
                                       "end station id",
                                       "end station name", 
                                       "end station latitude",
                                       "end station longitude",
                                       "stoptime"]]

bike_2018_df_organized.head(5)
bike_2019_df_organized.head(5)

,bikeid,gender,birth year,age,tripduration,start station id,start station name,start station latitude,start station longitude,starttime,end station id,end station name,end station latitude,end station longitude,stoptime
0,39213,Male,1968,51,327,3733,Avenue C & E 18 St,40.730563,-73.973984,2019-09-01 00:00:01.9580,504,1 Ave & E 16 St,40.732219,-73.981656,2019-09-01 00:05:29.3410
1,21257,Unknown,1969,50,1145,3329,Degraw St & Smith St,40.682915,-73.993182,2019-09-01 00:00:04.1430,270,Adelphi St & Myrtle Ave,40.693083,-73.971789,2019-09-01 00:19:09.8360
2,15242,Unknown,1969,50,1293,3168,Central Park West & W 85 St,40.784727,-73.969617,2019-09-01 00:00:07.3090,423,W 54 St & 9 Ave,40.765849,-73.986905,2019-09-01 00:21:40.7580
3,38760,Male,1990,29,1753,3299,E 98 St & Park Ave,40.788130,-73.952060,2019-09-01 00:00:08.0640,3160,Central Park West & W 76 St,40.778968,-73.973747,2019-09-01 00:29:21.5040
4,32094,Male,1992,27,613,486,Broadway & W 29 St,40.746201,-73.988557,2019-09-01 00:00:12.8510,478,11 Ave & W 41 St,40.760301,-73.998842,2019-09-01 00:10:26.1850

In [13]:
# Renaming the Columns
bike_2018_renamed_df = bike_2018_df_organized.rename(columns={"bikeid":"Bike ID", 
                                                              "gender":"Gender",
                                                              "birth year":"Birth Year",
                                                              "age":"Age",
                                                              "tripduration":"Trip Duration",
                                                              "start station id":"Start Station ID",
                                                              "start station name":"Start Station Name",
                                                              "start station latitude":"Start Station Latitude",
                                                              "start station longitude":"Start Station Longitude",
                                                              "starttime":"Start Time",
                                                              "end station id":"End Station ID",
                                                              "end station name":"End Station Name",
                                                              "end station latitude":"End Station Latitude",
                                                              "end station longitude":"End Station Longitude",
                                                              "stoptime":"Stop Time"})

bike_2019_renamed_df = bike_2019_df_organized.rename(columns={"bikeid":"Bike ID", 
                                                              "gender":"Gender",
                                                              "birth year":"Birth Year",
                                                              "age":"Age",
                                                              "tripduration":"Trip Duration",
                                                              "start station id":"Start Station ID",
                                                              "start station name":"Start Station Name",
                                                              "start station latitude":"Start Station Latitude",
                                                              "start station longitude":"Start Station Longitude",
                                                              "starttime":"Start Time",
                                                              "end station id":"End Station ID",
                                                              "end station name":"End Station Name",
                                                              "end station latitude":"End Station Latitude",
                                                              "end station longitude":"End Station Longitude",
                                                              "stoptime":"Stop Time"})



bike_2018_renamed_df
bike_2019_renamed_df

,Bike ID,Gender,Birth Year,Age,Trip Duration,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,Start Time,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Stop Time
0,39213,Male,1968,51,327,3733,Avenue C & E 18 St,40.730563,-73.973984,2019-09-01 00:00:01.9580,504,1 Ave & E 16 St,40.732219,-73.981656,2019-09-01 00:05:29.3410
1,21257,Unknown,1969,50,1145,3329,Degraw St & Smith St,40.682915,-73.993182,2019-09-01 00:00:04.1430,270,Adelphi St & Myrtle Ave,40.693083,-73.971789,2019-09-01 00:19:09.8360
2,15242,Unknown,1969,50,1293,3168,Central Park West & W 85 St,40.784727,-73.969617,2019-09-01 00:00:07.3090,423,W 54 St & 9 Ave,40.765849,-73.986905,2019-09-01 00:21:40.7580
3,38760,Male,1990,29,1753,3299,E 98 St & Park Ave,40.788130,-73.952060,2019-09-01 00:00:08.0640,3160,Central Park West & W 76 St,40.778968,-73.973747,2019-09-01 00:29:21.5040
4,32094,Male,1992,27,613,486,Broadway & W 29 St,40.746201,-73.988557,2019-09-01 00:00:12.8510,478,11 Ave & W 41 St,40.760301,-73.998842,2019-09-01 00:10:26.1850
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,34939,Female,1961,58,416,383,Greenwich Ave & Charles St,40.735238,-74.000271,2019-09-14 10:51:55.7090,497,E 17 St & Broadway,40.737050,-73.990093,2019-09-14 10:58:52.2530
999996,21590,Female,1986,33,439,523,W 38 St & 8 Ave,40.754666,-73.991382,2019-09-14 10:51:57.7750,450,W 49 St & 8 Ave,40.762272,-73.987882,2019-09-14 10:59:16.9580
999997,28708,Unknown,1969,50,1180,2008,Little West St & 1 Pl,40.705693,-74.016777,2019-09-14 10:51:58.4540,327,Vesey Pl & River Terrace,40.715338,-74.016584,2019-09-14 11:11:38.4940
999998,33580,Unknown,1991,28,573,2003,1 Ave & E 18 St,40.733812,-73.980544,2019-09-14 10:51:59.3460,3708,W 13 St & 5 Ave,40.735445,-73.994310,2019-09-14 11:01:33.2010
999999,39549,Male,1973,46,1189,3368,5 Ave & 3 St,40.672815,-73.983524,2019-09-14 10:51:59.7110,3789,Fulton St & Irving Pl,40.681860,-73.959432,2019-09-14 11:11:49.4360

In [35]:
# Keep only the first 50,000 rows of each DataFrame
bike_2018_50k = bike_2018_renamed_df.head(50000)
bike_2019_50k = bike_2019_renamed_df.head(50000)

# Outputting both files to CSV in Outputs folder
bike_2018_50k.to_csv("Outputs/09_2018_citibike_tripdata_cleaned.csv", index=False, header=True)
bike_2019_50k.to_csv("Outputs/09_2019_citibike_tripdata_cleaned.csv", index=False, header=True)